<main class="main">
    <p class="main__title">Kontakt</p>
    <a href="tel:+48123456789" class="main__desc">+48 123 456 789</a>
    <a href="mailto:cats.contact@cats.site" class="main__desc">cats.contact@cats.site</a>
</main>