<main class='main'>
	<div class='main__videosbox'>
		<iframe
			width='560'
			height='315'
			src='https://www.youtube.com/embed/5LrG333wKy8?si=t7_MfU65bFCsTjhQ'
			title='YouTube video player'
			frameborder='0'
			allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share'
			allowfullscreen
		></iframe>

		<iframe
			width='560'
			height='315'
			src='https://www.youtube.com/embed/9xqg5pvJvI8?si=jmD-a6jeWkiRQhOT'
			title='YouTube video player'
			frameborder='0'
			allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share'
			allowfullscreen
		></iframe>

		<iframe
			width='560'
			height='315'
			src='https://www.youtube.com/embed/y0sF5xhGreA?si=c01vyD1cxb1MflX0'
			title='YouTube video player'
			frameborder='0'
			allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share'
			allowfullscreen
		></iframe>

		<iframe
			width='560'
			height='315'
			src='https://www.youtube.com/embed/ReAYHKe4gyA?si=S3mpOUnRYcW9vyqE'
			title='YouTube video player'
			frameborder='0'
			allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share'
			allowfullscreen
		></iframe>

		<iframe
			width='560'
			height='315'
			src='https://www.youtube.com/embed/z3U0udLH974?si=BRgIyw8MtxuRjbj9'
			title='YouTube video player'
			frameborder='0'
			allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share'
			allowfullscreen
		></iframe>

		<iframe
			width='560'
			height='315'
			src='https://www.youtube.com/embed/rdVcT09dEf8?si=h133x9dG_W61PMAd'
			title='YouTube video player'
			frameborder='0'
			allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share'
			allowfullscreen
		></iframe>

	</div>
</main>